<table>
<thead>
<tr class="header">
<th align="left">reference</th>
<th align="left">dataset</th>
<th align="left">modality</th>
<th align="left">species</th>
<th align="left">resolution (nm^3; Hz)</th>
<th align="left">image size (voxels)</th>
<th align="left">#channels</th>
<th align="left">#timesteps</th>
<th align="left">size (XYZCT) GB</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left"><a href="http://www.nature.com/nature/journal/v520/n7549/abs/nature14297.html">nature.com/nature/journal/v52...</a></td>
<td align="left">acardona_0111_8</td>
<td align="left">EM</td>
<td align="left">Drosophila</td>
<td align="left">4 x 4 x 45</td>
<td align="left">32768 x 32768 x 4840</td>
<td align="left">1</td>
<td align="left">1</td>
<td align="left">5196</td>
</tr>
<tr class="even">
<td align="left"><a href="http://www.nature.com/nature/journal/v520/n7549/abs/nature14297.html">nature.com/nature/journal/v52...</a></td>
<td align="left">acardona_abd1_5</td>
<td align="left">EM</td>
<td align="left">Drosophila</td>
<td align="left">4 x 4 x 45</td>
<td align="left">24576 x 24576 x 461</td>
<td align="left">1</td>
<td align="left">1</td>
<td align="left">278</td>
</tr>
<tr class="odd">
<td align="left"><a href="http://www.nature.com/nature/journal/v471/n7337/full/nature09802.html">nature.com/nature/journal/v47...</a></td>
<td align="left">bock11</td>
<td align="left">EM</td>
<td align="left">M. musculus</td>
<td align="left">4 x 4 x 45</td>
<td align="left">135424 x 119808 x 4156</td>
<td align="left">1</td>
<td align="left">1</td>
<td align="left">67430</td>
</tr>
<tr class="even">
<td align="left"><a href="http://www.nature.com/articles/sdata201446">nature.com/articles/sdata2014...</a></td>
<td align="left">Ex10R55</td>
<td align="left">AT</td>
<td align="left">M. musculus</td>
<td align="left">100 x 100 x 70</td>
<td align="left">3409 x 3337 x 70</td>
<td align="left">29</td>
<td align="left">1</td>
<td align="left">23</td>
</tr>
<tr class="odd">
<td align="left"><a href="http://www.nature.com/articles/sdata201446">nature.com/articles/sdata2014...</a></td>
<td align="left">Ex12R75</td>
<td align="left">AT</td>
<td align="left">M. musculus</td>
<td align="left">100 x 100 x 70</td>
<td align="left">5491 x 4749 x 35</td>
<td align="left">21</td>
<td align="left">1</td>
<td align="left">19</td>
</tr>
<tr class="even">
<td align="left"><a href="http://www.nature.com/articles/sdata201446">nature.com/articles/sdata2014...</a></td>
<td align="left">Ex12R76</td>
<td align="left">AT</td>
<td align="left">M. musculus</td>
<td align="left">100 x 100 x 70</td>
<td align="left">5979 x 4872 x 37</td>
<td align="left">21</td>
<td align="left">1</td>
<td align="left">22</td>
</tr>
<tr class="odd">
<td align="left"><a href="http://www.nature.com/articles/sdata201446">nature.com/articles/sdata2014...</a></td>
<td align="left">Ex13R51</td>
<td align="left">AT</td>
<td align="left">M. musculus</td>
<td align="left">100 x 100 x 70</td>
<td align="left">5184 x 5840 x 30</td>
<td align="left">21</td>
<td align="left">1</td>
<td align="left">19</td>
</tr>
<tr class="even">
<td align="left"><a href="http://www.nature.com/articles/sdata201446">nature.com/articles/sdata2014...</a></td>
<td align="left">Ex14R58</td>
<td align="left">AT</td>
<td align="left">M. musculus</td>
<td align="left">100 x 100 x 70</td>
<td align="left">4750 x 3410 x 41</td>
<td align="left">26</td>
<td align="left">1</td>
<td align="left">17</td>
</tr>
<tr class="odd">
<td align="left"><a href="http://www.nature.com/articles/sdata201446">nature.com/articles/sdata2014...</a></td>
<td align="left">Ex2R18C1</td>
<td align="left">AT</td>
<td align="left">M. musculus</td>
<td align="left">100 x 100 x 70</td>
<td align="left">2106 x 3236 x 42</td>
<td align="left">25</td>
<td align="left">1</td>
<td align="left">7</td>
</tr>
<tr class="even">
<td align="left"><a href="http://www.nature.com/articles/sdata201446">nature.com/articles/sdata2014...</a></td>
<td align="left">Ex2R18C2</td>
<td align="left">AT</td>
<td align="left">M. musculus</td>
<td align="left">100 x 100 x 70</td>
<td align="left">1970 x 3175 x 42</td>
<td align="left">25</td>
<td align="left">1</td>
<td align="left">6</td>
</tr>
<tr class="odd">
<td align="left"><a href="http://www.nature.com/articles/sdata201446">nature.com/articles/sdata2014...</a></td>
<td align="left">Ex3R43C1</td>
<td align="left">AT</td>
<td align="left">M. musculus</td>
<td align="left">100 x 100 x 70</td>
<td align="left">2101 x 3223 x 69</td>
<td align="left">26</td>
<td align="left">1</td>
<td align="left">12</td>
</tr>
<tr class="even">
<td align="left"><a href="http://www.nature.com/articles/sdata201446">nature.com/articles/sdata2014...</a></td>
<td align="left">Ex3R43C2</td>
<td align="left">AT</td>
<td align="left">M. musculus</td>
<td align="left">100 x 100 x 70</td>
<td align="left">1971 x 3164 x 69</td>
<td align="left">26</td>
<td align="left">1</td>
<td align="left">11</td>
</tr>
<tr class="odd">
<td align="left"><a href="http://www.nature.com/articles/sdata201446">nature.com/articles/sdata2014...</a></td>
<td align="left">Ex3R43C3</td>
<td align="left">AT</td>
<td align="left">M. musculus</td>
<td align="left">100 x 100 x 70</td>
<td align="left">1989 x 3252 x 69</td>
<td align="left">26</td>
<td align="left">1</td>
<td align="left">11</td>
</tr>
<tr class="even">
<td align="left"><a href="http://www.nature.com/articles/sdata201446">nature.com/articles/sdata2014...</a></td>
<td align="left">Ex6R15C1</td>
<td align="left">AT</td>
<td align="left">M. musculus</td>
<td align="left">100 x 100 x 70</td>
<td align="left">3208 x 3581 x 30</td>
<td align="left">21</td>
<td align="left">1</td>
<td align="left">7</td>
</tr>
<tr class="odd">
<td align="left"><a href="http://www.nature.com/articles/sdata201446">nature.com/articles/sdata2014...</a></td>
<td align="left">Ex6R15C2</td>
<td align="left">AT</td>
<td align="left">M. musculus</td>
<td align="left">100 x 100 x 70</td>
<td align="left">3233 x 3636 x 30</td>
<td align="left">21</td>
<td align="left">1</td>
<td align="left">7</td>
</tr>
<tr class="even">
<td align="left"></td>
<td align="left">flycol</td>
<td align="left">EM</td>
<td align="left">Drosophila</td>
<td align="left">4 x 4 x 45</td>
<td align="left">2000 x 2000 x 6240</td>
<td align="left">1</td>
<td align="left">1</td>
<td align="left">24</td>
</tr>
<tr class="odd">
<td align="left"><a href="http://www.nature.com/nmeth/journal/v10/n5/full/nmeth.2434.html">nature.com/nmeth/journal/v10/...</a></td>
<td align="left">freeman14</td>
<td align="left">Ophys</td>
<td align="left">D. rerio</td>
<td align="left">650 x 650 x 5000; 0.8</td>
<td align="left">2048 x 1172 x 30</td>
<td align="left">1</td>
<td align="left">100</td>
<td align="left">7</td>
</tr>
<tr class="even">
<td align="left"><a href="http://www.sciencedirect.com/science/article/pii/S0092867415008247">sciencedirect.com/science/art...</a></td>
<td align="left">kasthuri11</td>
<td align="left">EM</td>
<td align="left">M. musculus</td>
<td align="left">3 x 3 x 30</td>
<td align="left">21504 x 26624 x 1850</td>
<td align="left">1</td>
<td align="left">1</td>
<td align="left">1059</td>
</tr>
<tr class="odd">
<td align="left"><a href="http://www.sciencedirect.com/science/article/pii/S0092867415008247">sciencedirect.com/science/art...</a></td>
<td align="left">kasthuri11cc</td>
<td align="left">EM</td>
<td align="left">M. musculus</td>
<td align="left">3 x 3 x 30</td>
<td align="left">21504 x 26624 x 1850</td>
<td align="left">1</td>
<td align="left">1</td>
<td align="left">1059</td>
</tr>
<tr class="even">
<td align="left"><a href="http://www.sciencedirect.com/science/article/pii/S0092867415008247">sciencedirect.com/science/art...</a></td>
<td align="left">kasthuri14Maine</td>
<td align="left">EM</td>
<td align="left">M. musculus</td>
<td align="left"></td>
<td align="left">6144 x 6144 x 2042</td>
<td align="left">1</td>
<td align="left">1</td>
<td align="left">77</td>
</tr>
<tr class="odd">
<td align="left"><a href="http://www.sciencedirect.com/science/article/pii/S0092867415008247">sciencedirect.com/science/art...</a></td>
<td align="left">kasthuri14s1colEM</td>
<td align="left">EM</td>
<td align="left">M. musculus</td>
<td align="left"></td>
<td align="left">49152 x 32768 x 254</td>
<td align="left">1</td>
<td align="left">1</td>
<td align="left">409</td>
</tr>
<tr class="even">
<td align="left"><a href="http://www.ncbi.nlm.nih.gov/pubmed/26347348">ncbi.nlm.nih.gov/pubmed/26347...</a></td>
<td align="left">kharris15apical</td>
<td align="left">EM</td>
<td align="left">R. rattus</td>
<td align="left">2 x 2 x 50</td>
<td align="left">8192 x 8192 x 194</td>
<td align="left">1</td>
<td align="left">1</td>
<td align="left">13</td>
</tr>
<tr class="odd">
<td align="left"><a href="http://www.ncbi.nlm.nih.gov/pubmed/26347348">ncbi.nlm.nih.gov/pubmed/26347...</a></td>
<td align="left">kharris15oblique</td>
<td align="left">EM</td>
<td align="left">R. rattus</td>
<td align="left">2 x 2 x 50</td>
<td align="left">8192 x 8192 x 91</td>
<td align="left">1</td>
<td align="left">1</td>
<td align="left">6</td>
</tr>
<tr class="even">
<td align="left"><a href="http://www.ncbi.nlm.nih.gov/pubmed/26347348">ncbi.nlm.nih.gov/pubmed/26347...</a></td>
<td align="left">kharris15spine</td>
<td align="left">EM</td>
<td align="left">R. rattus</td>
<td align="left">2 x 2 x 50</td>
<td align="left">9000 x 9000 x 89</td>
<td align="left">1</td>
<td align="left">1</td>
<td align="left">7</td>
</tr>
<tr class="odd">
<td align="left"><a href="http://www.wormatlas.org/ver1/MoW_built0.92/toc.html">wormatlas.org/ver1/MoW_built0...</a></td>
<td align="left">ritaN2</td>
<td align="left">EM</td>
<td align="left">C. elegans</td>
<td align="left">5 x 5 x 60</td>
<td align="left">13101 x 14378 x 1199</td>
<td align="left">2</td>
<td align="left">1</td>
<td align="left">451</td>
</tr>
<tr class="even">
<td align="left"><a href="http://www.wormatlas.org/ver1/MoW_built0.92/toc.html">wormatlas.org/ver1/MoW_built0...</a></td>
<td align="left">ritaN2_5</td>
<td align="left">EM</td>
<td align="left">C. elegans</td>
<td align="left">5 x 5 x 60</td>
<td align="left">37379 x 25986 x 743</td>
<td align="left">2</td>
<td align="left">1</td>
<td align="left">1443</td>
</tr>
<tr class="odd">
<td align="left"><a href="http://www.wormatlas.org/ver1/MoW_built0.92/toc.html">wormatlas.org/ver1/MoW_built0...</a></td>
<td align="left">ritaN2_four</td>
<td align="left">EM</td>
<td align="left">C. elegans</td>
<td align="left">5 x 5 x 60</td>
<td align="left">28381 x 24234 x 322</td>
<td align="left">2</td>
<td align="left">1</td>
<td align="left">442</td>
</tr>
<tr class="even">
<td align="left"><a href="http://www.nature.com/nature/journal/v500/n7461/full/nature12450.html#/semi-automated-connectome-reconstruction">nature.com/nature/journal/v50...</a></td>
<td align="left">takemura13</td>
<td align="left">EM</td>
<td align="left">Drosophila</td>
<td align="left">4 x 4 x 45</td>
<td align="left">12000 x 12000 x 1460</td>
<td align="left">1</td>
<td align="left">1</td>
<td align="left">210</td>
</tr>
</tbody>
</table>
